#offsetMenu {
    margin-top: 8px;
}

#username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 4em;
}

#logo {
    min-width: 150px;
    max-height: 24px;
    object-fit: contain;
}

.nav-link.active {
    text-decoration: underline;
}

#carouselExampleIndicators {
    height: 40vh;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item,
#carouselExampleIndicators .carousel-inner img {
    height: 100%;
    object-fit: cover;
}

.carousel-indicators button {
    width: 20px!important;
    height: 20px!important;
}